#reload-button {
  display: none !important;
}

#stop-button {
  display: none !important;
}

#tabs-newtab-button{
  display: none !important;
}

#alltabs-button{
  display: none !important;
}

#back-button {
  display: none !important;
}

#forward-button {
  display: none !important;
}

#customizableui-special-spring1 {
  display: none !important;
}

#customizableui-special-spring2 {
  display: none !important;
}

#firefox-view-button {
  display: none !important;
}

#tabbrowser-tabs {
  border-inline-start: none !important;
}

#fxa-toolbar-menu-button {
  display: none !important;
}

#sidebar-button {
  display: none !important;
}

#urlbar-searchmode-switcher {
  display: none !important;
}

#picture-in-picture-button {
  display: none !important;
}

#appMenu-addon-banners {
  display: none !important;
}


#reader-mode-button {
  display: none !important;
}

/* bookmark button */
#star-button-box{
  display: none !important;
}

/* shield icon */
#tracking-protection-icon-container {
  display: none !important;
}

/* settings hamburger */
#PanelUI-menu-button {
  display: none !important;
}

.tab-close-button {
  display: none !important;
}

#urlbar-container {
  margin-left: 10px !important;
}

.urlbar-input::placeholder {
  opacity: 0 !important;
}

.urlbar-input {
  padding-left: 10px !important;
}

/* on webpage */
.urlbar-input-container[pageproxystate="valid"] .urlbar-input-box .urlbar-input {
  padding-left: 0px !important;
}

:root {
  --focus-outline-color: #f0f0f0 !important;
}

/* Bring back tab separator lines that were removed in Proton */
.tabbrowser-tab{
  background-image: linear-gradient(
    transparent 20%,
    #9e9e9e 20%,
    #696969 80%,
    transparent 80%
  );
  background-size: 1px 100%;
  background-repeat: no-repeat;
}
.tab-group-label-container{
  padding-inline-start: 2px;
}

#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:hover + .tabbrowser-tab:not([first-visible-unpinned-tab]),
.tabbrowser-tab:is(:hover,:first-child,[selected],[multiselected]),
.tabbrowser-tab:is([selected],[multiselected]) + .tabbrowser-tab[hidden] + .tabbrowser-tab,
#tabbrowser-tabs:not([movingtab]) .tabbrowser-tab:is([multiselected],[selected]) + .tabbrowser-tab,
tab-group[collapsed] + .tabbrowser-tab,
tab-group > .tabbrowser-tab:first-of-type,
tab-group:has(> .tabbrowser-tab:last-child:is(:hover,[selected],[multiselected])) + .tabbrowser-tab{
  background-image: none;
}
