#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    show_song_table_header: false,
    draw_borders: true,
    browser_column_widths: [20, 38, 42],
    background_color: "#181818",
    modal_backdrop: true,
    text_color: "#e1e1e1",
    header_background_color: "#3f3f3f",
    modal_background_color: "#3f3f3f",
    preview_label_style: (fg: "#b48ead"),
    preview_metadata_group_style: (fg: "#81a1c1"),
    song_table_album_separator: None,
    tab_bar: (
        enabled: true,
        active_style: (fg: "#f0e2ff", bg: "#181818", modifiers: "Bold"),
        inactive_style: (fg: "#f0e2ff", bg: "#181818"),
    ),
    highlighted_item_style: (fg: "#d5c0ec", modifiers: "Bold"),
    current_item_style: (fg: "#181818", bg: "#999999", modifiers: "Bold"),
    borders_style: (fg: "#616161", modifiers: "Bold"),
    highlight_border_style: (fg: "#616161"),
    symbols: (song: "󰝚 ", dir: " ", playlist: "󰲸 ", marker: "* ", ellipsis: "...",
        song_style: (fg: "#81a1c1"), dir_style: (fg: "#81a1c1")
    ),
    progress_bar: (
        symbols: ["", "█", "", "█", "" ],
        track_style: (fg: "#30263E", bg: "#181818"),
        elapsed_style: (fg: "#7f58d3", bg: "#181818"),
        thumb_style: (fg: "#7f58d3", bg: "#30263E"),
    ),
    scrollbar: (
        symbols: ["|", "█", "󰄿", "󰄼"],
        track_style: (fg: "#925DFF"),
        ends_style: (fg: "#925DFF"),
        thumb_style: (fg: "#a97eff"),
    ),
    song_table_format: [
        (
        prop: (kind: Transform(Replace(content: (kind: Sticker("rating")), replacements: [
            (match:  "0", replace: (kind: Group([(kind: Text("    "),style: (fg: "#3e3e3e"))]))),
            (match:  "1", replace: (kind: Group([(kind: Text("    "),style: (fg: "#4e4e4e"))]))),
            (match:  "2", replace: (kind: Group([(kind: Text("    "),style: (fg: "#5e5e5e"))]))),
            (match:  "3", replace: (kind: Group([(kind: Text("    "),style: (fg: "#6e6e6e"))]))),
            (match:  "4", replace: (kind: Group([(kind: Text("    "),style: (fg: "#7e7e7e"))]))),
            (match:  "5", replace: (kind: Group([(kind: Text("    "),style: (fg: "#8e8e8e"))]))),
            (match:  "6", replace: (kind: Group([(kind: Text("    "),style: (fg: "#9e9e9e"))]))),
            (match:  "7", replace: (kind: Group([(kind: Text("    "),style: (fg: "#aeaeae"))]))),
            (match:  "8", replace: (kind: Group([(kind: Text("    "),style: (fg: "#bebebe"))]))),
            (match:  "9", replace: (kind: Group([(kind: Text("    "),style: (fg: "#cecece"))]))),
            (match: "10", replace: (kind: Group([(kind: Text("    "),style: (fg: "#dedede"))]))),
        ])), default: (kind: Text("----------"), style: (fg: "#dedede"))),
        width: "10",
        label: "Rating",
        alignment: Left,
        ),
        (
            prop: (kind: Property(Artist), style: (fg: "#c0c0c0"),
                default: (kind: Text("Unknown Artist"), style: (fg: "#b48ead"))),
            width: "21%"
        ),
        (
            prop: (kind: Property(Title), style: (fg: "#dedede"),
                default: (kind: Property(Filename), style: (fg: "#d8dee9"))),
            width: "45%"
        ),
        (
            prop: (kind: Property(Album), style: (fg: "#c0c0c0"),
                default: (kind: Text("Unknown Album"), style: (fg: "#b48ead"))),
            width: "34%"
        ),
        (
            prop: (kind: Property(Duration), style: (fg: "#dedede"),
                default: (kind: Text("-"))),
            width: "5%", alignment: Right
        ),
    ],
    layout: Split(
        direction: Vertical, panes: [
            (size: "3", pane: Pane(Tabs)),
            (size: "4", borders: "ALL", pane: Component("custom-header")),
            (size: "100%", borders: "NONE", pane: Pane(TabContent)),
            (size: "3", borders: "TOP | BOTTOM", pane: Pane(ProgressBar)),
        ]),
    header: (rows: []),
    browser_song_format: [
        (kind: Group([
                    (kind: Property(Track)),
                    (kind: Text(" ")),
                ])),
        (kind: Group([
                    (kind: Property(Artist)),
                    (kind: Text(" - ")),
                    (kind: Property(Title)),
                ]), default: (kind: Property(Filename)))
    ],
    level_styles: (
        info:  (fg: "#a3be8c", bg: "#2e3440"),
        warn:  (fg: "#ebcb8b", bg: "#2e3440"),
        error: (fg: "#bf616a", bg: "#2e3440"),
        debug: (fg: "#d08770", bg: "#2e3440"),
        trace: (fg: "#b48ead", bg: "#2e3440"),
    ),
    components: {
        "custom_song_table_header": Split(borders: "ALL", direction: Horizontal, panes: [
                (size: "5", pane: Pane(Property(content: [
                                (kind: Text(" 󰩳"), style: (fg: "#81a1c1")),
                            ], align: Left))
                ),
                (size: "21%", pane: Pane(Property(content: [
                                (kind: Text("Artist "), style: (fg: "#d8dee9")),
                                (kind: Text(""), style: (fg: "#81a1c1"))
                            ], align: Left))
                ),
                (size: "39%", pane: Pane(Property(content: [
                                (kind: Text("Title "), style: (fg: "#d8dee9")),
                                (kind: Text(""), style: (fg: "#81a1c1"))
                            ], align: Left))
                ),
                (size: "33%", pane: Pane(Property(content: [
                                (kind: Text("Album "), style: (fg: "#d8dee9")),
                                (kind: Text("󰀥"), style: (fg: "#81a1c1"))
                            ], align: Left))
                ),
                (size: "7%", pane: Pane(Property(content: [
                                (kind: Text("Length "), style: (fg: "#d8dee9")),
                                (kind: Text(" "), style: (fg: "#81a1c1"))
                            ], align: Right))
                ),
                (size: "1", pane: Pane(Property(content: [
                                (kind: Text(" "), style: (fg: "#81a1c1")),
                            ], align: Left))
                ),
            ]),
        "custom-header": Split(direction: Horizontal, panes: [
                (size: "33%", pane: Split(direction: Vertical, panes: [
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Text(""), style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(StateV2(playing_label: "  ", paused_label: "  ", stopped_label: "  "))),style: (fg: "#f0e2ff")),
                                            (kind: Text(" "), style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Widget(ScanStatus)), style: (fg: "#f0e2ff", modifiers: "Bold"))
                                        ], align: Left))
                            ),
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Text("[ "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(Elapsed)),style: (fg: "#f0e2ff")),
                                            (kind: Text(" / "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(Duration)),style: (fg: "#f0e2ff")),
                                            (kind: Text(" | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(Bitrate)),default: (kind: Text(" ")),style: (fg: "#f0e2ff")),
                                            (kind: Text(" kbps"),style: (fg: "#b39fca")),
                                            (kind: Text(" ]"),style: (fg: "#b39fca", modifiers: "Bold"))
                                        ], align: Left))
                            ),
                        ])
                ),
                (size: "34%", pane: Split(direction: Vertical, panes: [
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Property(Song(Title)), style: (fg: "#d5c0ec",modifiers: "Bold"),
                                                default: (kind: Property(Song(Filename)), style: (fg: "#d8dee9",modifiers: "Bold")))
                                        ], align: Center))
                            ),
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Property(Song(Artist)), style: (fg: "#bea2dd"),
                                                default: (kind: Text("Unknown Artist"), style: (fg: "#88c0d0"))),
                                            (kind: Text(" - "), style: (fg: "#a97eff")),
                                            (kind: Property(Song(Album)),style: (fg: "#bea2dd" ),
                                                default: (kind: Text("Unknown Album"), style: (fg: "#81a1c1")))
                                        ], align: Center))
                            ),
                        ])
                ),
                (size: "33%", pane: Split(direction: Vertical, panes: [
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Text(" 󱡬"), style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(Volume)), style: (fg: "#f0e2ff")),
                                            (kind: Text("% "), style: (fg: "#b39fca", modifiers: "Bold"))
                                        ], align: Right))
                            ),
                            (size: "100%", pane: Pane(Property(content: [
                                            (kind: Text("[ "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(QueueLength())),style: (fg: "#f0e2ff")),
                                            (kind: Text(" 󰴍 | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(QueueTimeTotal(separator: " "))),style: (fg: "#f0e2ff")),
                                            (kind: Text(" 󱎫 | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(RepeatV2(on_label: "", off_label: "",
                                                            on_style: (fg: "#f0e2ff", modifiers: "Bold"), off_style: (fg: "#6b6275", modifiers: "Bold"))))),
                                            (kind: Text(" | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(RandomV2(on_label: "", off_label: "",
                                                            on_style: (fg: "#f0e2ff", modifiers: "Bold"), off_style: (fg: "#6b6275", modifiers: "Bold"))))),
                                            (kind: Text(" | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(ConsumeV2(on_label: "󰮯", off_label: "󰮯", oneshot_label: "󰮯󰇊",
                                                            on_style: (fg: "#f0e2ff", modifiers: "Bold"), off_style: (fg: "#6b6275", modifiers: "Bold"))))),
                                            (kind: Text(" | "),style: (fg: "#b39fca", modifiers: "Bold")),
                                            (kind: Property(Status(SingleV2(on_label: "󰎤", off_label: "󰎦", oneshot_label: "󰇊", off_oneshot_label: "󱅊",
                                                            on_style: (fg: "#f0e2ff", modifiers: "Bold"), off_style: (fg: "#6b6275", modifiers: "Bold"))))),
                                            (kind: Text(" ]"),style: (fg: "#b39fca", modifiers: "Bold")),
                                        ], align: Right))
                            ),
                        ])
                ),
            ])
    },
    cava: (
        bar_symbols: ['▁', '▂', '▃', '▄', '▅', '▆', '▇', '█'],
        bar_width: 1, bar_spacing: 0,
        bg_color: "#181818",
        bar_color: Gradient({
                0:   "#3e3e3e",
                33:  "#6e6e6e",
                67:  "#9e9e9e",
                100: "#dedede",
            })
    ),
)