/* Quick CSS file created by Millennium */
[aria-label="What's New"] img {
 display: none;
}

/* topmost bar */
._3Z7VQ1IMk4E3HsHvrkLNgo {
  height: 40px;
  background: linear-gradient(#404040, #303030);
}

/* redundant bar */
._3Z3ohQ8-1NKnCZkbS6fvy {
  display: none;
}

/* selected game on game list */
._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ._1UBpAXP408Ez_L_mXhW5Q9._2-O4ZG0KrnSrzISHBKctFQ {
  background-color: #484848
}

._2mZ8LlvoUiyeEUtIWuTri {
  color: #ffffff
}

._2sYIghGVXJr6tsQVvcryy8 {
  background: linear-gradient(to right, #7c7c7c 40%, rgba(62, 78, 105, 0) 100%)
}

/* trading cards section */
._2aor4XVOYzN1PBSREk0UbO > div:nth-child(4) {
  display: none
}


/* notes section */
._2aor4XVOYzN1PBSREk0UbO > div:nth-child(5) {
  display: none
}

/* recordings and screenshots section */
._2aor4XVOYzN1PBSREk0UbO > div:nth-child(7) {
  display: none
}


/* my review section */
._2aor4XVOYzN1PBSREk0UbO > div:nth-child(8) {
  display: none
}

/* community content */
._1sZgBDTw5NH-yuVDZK1SUU > div:nth-child(3){
  display: none
}


/* games list useless separator */
._2CmrnGY-Amtd83ScJkFvx2 {
  display: none
}

/* games list useless bar */
._2TKEazUUS3TlniZfpc8OOe {
  display: none
}

/* games list */
._3x1HklzyDs4TEjACrRO2tB {
  background: #303030;
}

._1Ky59qmywxOUtNcI1cgmkX {
  padding-top: 8px
}

/* play button */
._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX {
  background: #505050
}

/* achievement unlock progress */
._38t1mljBjmJfqjpVzMT1CG {
  background: #404040 !important;
}

/* useless */
._37MAYpIjl0IDA1xVhhsuX8 {
  display: none;
}

._30acA_E0q_GuOxBqxgDJj4 {
  display: none;
  
}

._2b6WkTnmJxMuX1biL7aS3C.Panel {
  display: none;
  
}

._1IWSiRVmH1DlNlWSaBeUuZ {
  display: none;
  
}

/* activity background */
.UVeN0kaD3zv1feMj_mMw5 .NEMXhMlqXOCJwfgWlHXhT {
  background: #303030 !important;
}

/* useless say something to your friends */
._3x31AgESSlUqX3D4MTHv2m {
  display: none
}
._1EC1xjjUGqI7fqX6PVzJA3 {
  display: none
}

/* activity text */
._3A_c3YHYd4YIjA8Y-olnPl {
  display: none
}

._5uvIN6jXDXzzck59F-nhv._2EEApFUXB7aWXBtitgV5dk > .Panel > :not(:nth-child(n+1):nth-child(-n+3)) {
  display: none
}


/* backgrounds 1 */
._31ptFGGMZrSQc5BCX1e5lm._3KfxIwlXEvum7FCD_AM2_t {
  background: #303030 !important;
  box-shadow: none
  
}
._2MKO5j24KqDdD-92hH5FXi:after {
  box-shadow: none
}

/* backgrounds 2*/
._2OOzYVWIHaKXm6_7sscT9i>div{
  background: #202020
}


:not(._1Pb6PMh_3L5p5NzuUz0Pp9)>._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX:hover {
  background: #808080
}

._3DeO92O5aVkcdwEBCJDjWm._3fLo166MlaNqP8r8tTyRz {
  background: #202020
}

div.NarrowRightPanel ._3-V8vjmrwuJM6Ws3tsjFJj {
  background: #202020 !important
}


._2OOzYVWIHaKXm6_7sscT9i .OhSdLYuggDtBcWjYP0j_9 {
  background: #202020 !important
}

._3cI5TXsFX3bvpR-7EBOtxq>._2AzIX5kl9k6JnxLfR5H4kX svg {
  fill: #cfcfcf
}

